
@{
    ViewBag.Title = "Kategoriler";
}

<h2>Kategoriler</h2>

<p>
    Burası uygulamanın kategoriler sayfasının içeriği
</p>

<div>
    Bu sayfa adres çubuğundan /Kategori/Index şeklinde bir istek gelirse çalışır
</div>